<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <form action="{{ path('search') }}" method="post">
            <label for="search">Search</label>
            <input type="text" id="search" name="search" required/>
            <input type="submit"/>
        </form>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
