{% extends 'base.html.twig' %}

{% block title %}Conference Search{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="text-info text-lg-left font-weight-lighter" style="font-family: 'Calibri'">Results</h1>
    {% if conferences %}
        {% for conference in conferences %}
            <h2><a href="{{ path('conference_vote', {'id':conference.conference.id}) }}">{{ conference.conference.name }}</a></h2>
            <p>{{ conference.conference.description }}</p>
            <p>Note : {{ conference.average }}</p>
        {% endfor %}
    {% else %}
        <p>No conferences found</p>
    {% endif %}
        </div>
    </section>
{% endblock %}