{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
    <h1>Unvoted conferences</h1>
    {% for conference in unvoted %}
        <h2>{{ conference.name }}</h2>
        <p>{{ conference.description }}</p>
        <p>Note : {{ conference.average }}</p>
    {% endfor %}
{% endblock %}
