{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
    <h1>Unvoted conferences</h1>
    {% for conference in conferences %}

        <h2><a href="{{ path('conference_vote', {'id':conference.conference.id}) }}">{{ conference.conference.name }}</a></h2>
        <p>{{ conference.conference.description }}</p>
        <p>Note : {{ conference.average }}</p>
    {% endfor %}
{% endblock %}
