{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
    <h1>Voted conferences</h1>
    {% if voted %}
    {% for conference in voted %}
        <h2><a href="{{ path('conference_vote', {'id':conference.conference.id}) }}">{{ conference.conference.name }}</a></h2>
        <p>{{ conference.conference.description }}</p>
        <p>Note : {{ conference.average }}</p>
    {% endfor %}
    {% else %}
        <p>You haven't voted yet</p>
    {% endif %}
{% endblock %}